.modal {
    display: block;
    position: fixed;
    border: 1px solid #3d3d3d;
    box-sizing: border-box;
    z-index: 300;
    top: 30%;
    left: 20%;
    width: 60%;
    padding: 20px;
    background: #f3f3f3;
    transition: all 0.3s ease-out;
}
.modal-show {
    visibility: visible;
    opacity: 1;
}
.modal-hidden {
    visibility: hidden;
    opacity: 0;
}